

@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Tiro+Bangla&display=swap");

body {
  font-family: "Tiro Bangla", serif;
  font-size: 17px;
  line-height: 30px;
}

a {
  text-decoration: none;
  color: #212529;
}
a:hover {
  color: #8a2be1;
}

html,
body,
p {
  padding: 0px;
  margin: 0px;
}

.hero-section {
  padding: 0px 0px;
}
.item {
  background: #ffffff;
  padding: 7px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.item:hover {
  /*    border: 1px solid #8A2BE1;*/
}

.feature-grid .uil {
  font-size: 35px;
  padding: 15px;
  border-radius: 5px;
  width: 75px;
  height: 70px;
  text-align: center;
  color: #fff;
  line-height: 75px;
}

.icon-size {
  width: 75px;
}

h3 {
  font-size: 29px;
  font-weight: 700;
}
h5 {
  font-size: 45px;
  font-weight: 600;
}

.sub-header {
  font-size: 17px;
  line-height: 30px;
  color: #8a2be1;
  font-weight: 500;
}

.news-headline {
  font-size: 25px;
  font-weight: 500;
}

span {
  color: #242424;
}
.vjs-big-play-button span {
  color: #ffffff !important;
  font-size: 35px !important;
}
.bg-dark-red {
  background: #8a2be1;
}

.bg-light-red {
  background: #f3a287;
}

.bg-light-blue {
  background: #d1cffd;
}

.bg-dark-blue {
  background: #8a2be1;
}

section {
  padding: 50px 0px;
}

.footer-section {
  font-family: "Tiro Bangla", serif;
}

.icon-size {
  min-width: 75px !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.icon-image {
  padding: 1px;
  background-color: #fff;
  border: 1px solid #eeeeee;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

body .btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #8a2be1;
  --bs-btn-border-color: #8a2be1;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #8a2be1;
  --bs-btn-hover-border-color: #8a2be1;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #8a2be1;
  --bs-btn-active-border-color: #8a2be1;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #8a2be1;
  --bs-btn-disabled-border-color: #8a2be1;
}

/*
Page Loader CSS*/
.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 2px solid #8a2be1;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

.max-width {
  max-width: 500px;
}
.card {
  border: var(--bs-card-border-width) solid rgb(162 162 162 / 18%);
  border-radius: var(--bs-card-border-radius);
}
.form-control {
  background-color: #e2e2e2;
  border: 1px solid #e5e5e5;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn-outline-primary {
  --bs-btn-color: #8a2be1;
  --bs-btn-border-color: #8a2be1;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #8a2be1;
  --bs-btn-hover-border-color: #8a2be1;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #8a2be1;
  --bs-btn-active-border-color: #8a2be1;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #8a2be1;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #8a2be1;
  --bs-gradient: none;
}

h5 {
  font-size: 30px;
  font-weight: 600;
}

.margin-bottom {
  margin-bottom: 15px;
}

.news-grid {
  padding: 15px;
  background: #ffffff;
  margin: 15px;
  border-radius: 7px;
}

.zoom-effect {
  transition: transform 0.5s ease;
}

.zoom-effect:hover {
  transform: scale(1.08);
}

.padding-15 {
  padding: 15px 0px;
}

.text-right {
  text-align: end;
}

.video-js .vjs-big-play-button {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  background: #d00000 !important;
  color: #fff !important;
  border: none !important;
  top: 65px !important;
  left: 50px !important;
  line-height: 40px !important;
  font-size: 30px !important;
}

.news-headline {
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
}

.video-js {
  width: 100% !important;
  height: 234px !important;
  background: none;
}

.vjs-poster img {
  border-radius: 7px;
}

.vjs-youtube .vjs-poster {
  background: #fff;
}

.h5,
h5 {
  padding: 0px;
  margin: 0px;
}

.nav-link {
  font-weight: 600;
  color: #212529ed;
}

.carousel-fade .carousel-item {
  max-height: 350px;
}

.header:hover {
  color: #8a2be1;
  cursor: pointer;
}
.form-control {
  font-weight: 600;
  padding: 15px 20px;
}

/*CSS for mobile screen*/
@media (max-width: 767px) {
  .margin-bottom {
    margin-bottom: 15px;
  }

  .margin-bottom h5 {
    font-size: 25px;
  }

  h3 {
    font-size: 30px;
    font-weight: 700;
  }

  .news-grid {
    padding: 0px 15px 0px 15px;
  }

  .video-js {
    width: 100% !important;
    height: 200px !important;
    background: none;
  }

  .hero-section-right {
    padding-top: 25px;
    text-align: center;
  }

  .video-js .vjs-big-play-button {
    top: 65px !important;
  }

  .vjs-youtube-mobile .vjs-big-play-button {
    display: block !important;
  }

  .news-details {
    padding: 0px 0px 15px 0px;
  }
}

body .btn-big {
  font-weight: 600;
  padding: 15px 20px;
}

body .btn-main-color {
  background: #8a2be1;
  border: none;
}
