body {
  font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, Verdana,
    sans-serif;
  font-size: 13px;
  line-height: 1.42857143;
  color: #000000;
  background-color: #fff;
}

.category-carousel {
  padding: 50px 0 74px;
  position: relative;
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
}

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.category-carousel .owl-item:not(.center) {
  cursor: pointer;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.category-carousel .link-item {
  pointer-events: none;
}

a {
  color: #0490f4;
  text-decoration: none;
}

a {
  background: transparent;
}

.category-carousel .item {
  height: 219px;
  width: 179px;
  border-radius: 11px;
  box-shadow: 0 3px 15px 0 rgba(200, 200, 200, 0.43);
  display: inline-block;
}

.category-carousel .box {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.category-carousel .item img {
  width: 100px;
  border: 0.5px solid #c5c5c5;
  border-radius: 55px;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

img {
  vertical-align: middle;
}

.category-carousel .item h5 {
  font-weight: 600;
}

.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: 0;
  color: inherit;
  border: 0;
  padding: 0 !important;
  font: inherit;
}

.owl-theme .owl-nav [class*="owl-"] {
  color: #fff;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #d6d6d6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.category-carousel .owl-prev {
  position: absolute;
  left: -2%;
  top: 40%;
}

.category-carousel .owl-next {
  position: absolute;
  right: -4%;
  top: 40%;
}

.category-carousel {
  padding: 50px 0 74px;
  position: relative;
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
}

.category-carousel .owl-stage-outer {
  padding: 10px;
}

.category-carousel .owl-item:not(.center) {
  cursor: pointer;
}

.category-carousel .owl-item.center .item {
  background-color: #f8e872;
}

.category-carousel .owl-item.center img {
  border: 0.5px solid #c5c5c5;
  border-radius: 55px;
}

.category-carousel .link-item {
  pointer-events: none;
}

.category-carousel .link-item:hover {
  text-decoration: none;
}

.category-carousel .item {
  height: 219px;
  width: 179px;
  border-radius: 11px;
  box-shadow: 0 3px 15px 0 rgba(200, 200, 200, 0.43);
  display: inline-block;
}

.category-carousel .box {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.category-carousel .box:hover {
  border: 0.5px solid #f8e872;
}

.category-carousel .item img {
  width: 100px;
  border: 0.5px solid #c5c5c5;
  border-radius: 55px;
}

.category-carousel .center .item img {
  border-color: white;
}

.category-carousel .item h5 {
  font-weight: 600;
}

.category-carousel .owl-prev {
  position: absolute;
  left: -2%;
  top: 40%;
}

.category-carousel .owl-next {
  position: absolute;
  right: -4%;
  top: 40%;
}

.category-carousel .tab-pane {
  display: none;
  flex-wrap: wrap;
  gap: 7px;
  width: 100%;
}
.category-carousel .tab-pane.active {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  width: 100%;
}

.category-carousel .tab-pane.active .subject-link {
  color: #000000;
}

.category-carousel .tab-pane.active .subject-link:hover,
.category-carousel .tab-pane.active .subject-link:focus {
  text-decoration: none;
}

.category-carousel .tab-pane.active .subject-link .subject:hover {
  background-color: #f8e872;
}

.category-carousel .tab-pane.active .subject {
  height: 50px;
  width: 190px;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-carousel .tab-pane.active .subject-name {
  color: #000000;
  font-size: 13px;
}

.category-carousel .tab-pane.active .subject-hidden {
  display: none;
}

.category-carousel .tab-pane.active hr {
  width: 90%;
}

.category-carousel .tab-pane.active .btn-subject {
  width: 120px;
  color: #ff2998;
  font-size: 14px;
  font-weight: 600;
  margin: 0 auto;
}

.category-carousel .tab-pane.active .btn-subject:focus {
  text-decoration: none;
}

.owl-stage {
  width: 40591px !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, Verdana,
    sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: #000000;
}

h5,
.h5 {
  font-size: 14px;
}
